/* Base font settings for body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/static/images/cash.png'); /* Ensure the path to your background image is correct */
  /*background-color: #000000;*/
}

/* Header styles */
.header {
  background-color: #1f9108; /* This color is overwritten by the gradient below */
  background: linear-gradient(rgba(230, 10, 10, 0.8), rgba(2, 167, 30, 0.5)); /* Gradient background for the header */
  text-align: center;
  font-size: 20px;
  width: auto;
  padding: 10px;
}

/* Styles for h2 elements */
h2 {
  text-align: center; /* Inherits text-align from parent, consider setting this explicitly if needed */
  color: crimson;
}

/* Container for flexboxes, which holds the trackers */
.row {
  display: flex; /* Use flex display for a flexible layout */
  justify-content: left; /* Center flex items (trackers) horizontally */
  flex-wrap: wrap; /* Allow the items to wrap as needed */
  align-content:start;

}

/* Styles for each tracker (column) */
.column {
  flex: 1; /* Each tracker will grow to fill the space */
  max-width: calc(50% - 20px); /* Set maximum width to fill half the parent width minus padding */
  padding: 10px;
  color: #000000;
  justify-content: center;
  
}

/* Nested img selector is invalid CSS, moving it outside */
.column img {
  width: 100%; /* Responsive images */
  max-width: 600px; /* Maximum width to prevent overly large images */
  border-radius: 10px; /* Rounded corners for images */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
  margin-top: 15px; /* Space above the image */
}

/* Footer styles */
.footer {
  background-color: #03920a;
  padding: 10px;
  text-align: center;
  opacity: 90%; /* Slightly transparent footer */
  width: auto;
  position: fixed;}

/* Responsive layout adjustments */
@media (max-width: 600px) {
  .row {
      flex-direction: column; /* Stack the trackers vertically on smaller screens */
  }
  .column {
      max-width: 100%; /* Trackers take full width in a vertical stack */
  }
}
